<!-- Author: Viktoriia Vovchenko -->

<!-- Dunklen Hintergrund anzeigen falls größe Ansicht geöffnet -->
<div *ngIf="wideOpen" class="background" (click)="wideOpen = false;"></div>

<div id="container" [ngClass]="{'wide-open': wideOpen}">

  <!-- Name und action-Butons anzeigen -->
  <div id="top-elements-container">
    <p *ngIf="name != ''" class="name" [ngStyle]="{color: themeColors[theme].text}">{{ name }}</p>
    <div id="table-actions">
      <button *ngIf="aenderungenLoeschenAngezeigt()" (click)="aenderungenLoeschen()" [ngStyle]="{color: themeColors[theme].text, background: themeColors[theme].background, borderColor: themeColors[theme]['second-background'] }">Änderungen löschen</button>

      <div *ngIf="!wideOpen" (click)="wideOpen = true;" [ngStyle]="{background: themeColors[theme].background}" class="img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="256" height="256">
          <path fill="none" d="M0 0h256v256H0z"></path>
          <path [attr.stroke]="themeColors[theme].text" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"
                d="M168 48h40v40M152 104l56-56M88 208H48v-40M104 152l-56 56M208 168v40h-40M152 152l56 56M48 88V48h40M104 104 48 48"></path>
        </svg>
      </div>

      <div *ngIf="wideOpen" (click)="wideOpen = false;" [ngStyle]="{background: themeColors[theme].background}" class="img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="256" height="256">
          <path fill="none" d="M0 0h256v256H0z"></path>
          <path [attr.stroke]="themeColors[theme].text" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"
                d="M192 104h-40V64M208 48l-56 56M64 152h40v40M48 208l56-56M152 192v-40h40M208 208l-56-56M104 64v40H64M48 48l56 56"></path>
        </svg>
      </div>

    </div>
  </div>

  <!-- Tabelle dynamisch generieren -->
  <div id="table-container" [ngStyle]="{background: themeColors[theme].background}">
    <div *ngIf="tableDataFormatted.length > 0" id="table-content-container">
      <table #table>

        <!-- Header mithilfe von Variable tableHeaderFormatted generieren -->
        <thead >
          <tr>
            <th *ngFor="let data of tableHeaderFormatted" [ngStyle]="{background: themeColors[theme]['table-header']}" class="outline-top-bottom">
              <div class="header-content">
                <div [ngStyle]="{color: themeColors[theme].text}">{{ data.wert }}</div>
                <img #icon (click)="showFilterSortPopup(data, icon)" [src]="getArrowSrc(data)"alt="icon"/>
              </div>
            </th>
          </tr>
        </thead>

        <!-- Tabellenkontent mithilfe von Variable tableDataFormatted generieren -->
        <tbody>
          <ng-container *ngFor="let data of tableDataFormatted">
            <tr *ngIf="data.shown"> <!-- Nicht anzeigen falls durch den Filter ausgebledet -->
              <td *ngFor="let item of data.row">
                <div *ngIf="item.highlightedRange && filterSortPopup != null">
                  <!-- So eine Struktur mit span's wird für die Markierung bei der Anwendung vom Text-Filter benötigt -->
                  <span class="grey-text">{{ item.wert.substring(0, item.highlightedRange.start) }}</span>
                  <span>
                    <mark>{{ item.wert.substring(item.highlightedRange.start, item.highlightedRange.end)}}</mark>
                  </span>
                  <span class="grey-text">{{ item.wert.substring(item.highlightedRange.end, item.wert.length) }}</span>
                </div>
                <!-- Keine Markierung wegen Textfilter benötigt -->
                <div *ngIf="!item.highlightedRange || filterSortPopup == null" class="grey-text">
                  {{ item.wert }}
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>

      </table>
    </div>

    <!-- Fehlermeldung anzeigen falls keine Daten vorhanden sind -->
    <div *ngIf="tableDataFormatted.length == 0" id="leer-fehlermeldung">
      <p class="grey-text">{{leerFehlermeldung}}</p>
    </div>
  </div>
</div>

<!-- Popup für Filter und Sortierung -->
<div #popup *ngIf="filterSortPopup != null" class="filter-sort-popup" [ngStyle]="popupPosition">
  <div class="popup-content">
    <!-- Sortierungen werden dynamisch aus getFilterSortPopupOptions().sortings generiert -->
    <div
      *ngFor="let sorting of getFilterSortPopupOptions().sortings"
      class="option global-button"
      (click)="toggleSorting(sorting, getFilterSortPopupOptions())"
      [ngClass]="{ selected: sorting.selected }"
    >
      <img [src]="sorting.imagesrc" alt="icon" />
      <div class="grey-text">{{ sorting.name }}</div>
    </div>

    <!-- Filter werden dynamisch aus getFilterSortPopupOptions().filters generiert -->
    <div *ngFor="let filterOption of getFilterSortPopupOptions().filters">

      <!-- Dropdown Filter, u. a. für das Datumfilter benutzt -->
      <div *ngIf="filterOption.typ === 'Dropdown'" class="filter dropdown-filter">
        <label class="grey-text">{{ filterOption.name }}</label>
        <app-custom-dropdown [options]="filterOption.optionen" [selectedOption]="selectedDropdownOption" (selectionChange)="filterOption.selected = $event; filterSelected()"></app-custom-dropdown>
      </div>

      <!-- Text Filter, u. a. für Namen benutzt -->
      <div *ngIf="filterOption.typ === 'Textfeld'" class="filter">
        <label class="grey-text">{{ filterOption.name }}</label>
        <input class="grey-text textfield"
          type="text"
          [(ngModel)]="filterOption.selected"
          (ngModelChange)="filterSelected()"
        />
      </div>

      <!-- Reichweitenfilter, u. a. für Preise und Werte benutzt -->
      <div *ngIf="filterOption.typ === 'Slider'" class="filter slider-filter">
        <label class="grey-text">{{ filterOption.name }}</label>
        <app-range-slider
          [min]="filterOption.min"
          [max]="filterOption.max"
          [step]="1"
          [(value1)]="filterOption.value1"
          [(value2)]="filterOption.value2"
          (value1Change)="filterSelected()"
          (value2Change)="filterSelected()"
        ></app-range-slider>
      </div>

      <!-- Checkbox Filter, u. a. für Wertpapiertypen benutzt -->
      <div *ngIf="filterOption.typ === 'Checkbox'" class="filter checkbox-filter">
        <label class="grey-text">{{ filterOption.name }}</label>
        <div *ngFor="let option of filterOption.optionen" class="checkbox-option">
          <input
            type="checkbox"
            [checked]="option.selected"
            (change)="option.selected = !option.selected; filterSelected()"
            class="custom-checkbox"
            id="{{option.name}}"
          />
          <label class="grey-text" for="{{option.name}}">{{ option.name }}</label>
        </div>
      </div>

    </div>
  </div>
</div>
