#container.wide-open {
  position: fixed;
  width: 86vw;
  height: 86vh;
  min-width: 86vw;
  max-width: 86vw;
  min-height: 86vh;
  max-height: 86vh;
  top: calc(7vh - 20px);
  left: calc(7vw - 20px);
  z-index: 3;
  background-color: var(--second-background);
  border-radius: 4px;
  padding: 10px;
}

#container.wide-open > #top-elements-container {
  margin-bottom: 10px;
}

#container.wide-open > #table-container {
  height: calc(86vh - 75px);
  max-height: calc(100vh - 75px);
}

.background {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

#container {
  z-index: 1;
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 1px;
  margin: 5px 0 10px;
}

#top-elements-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

#table-actions {
  vertical-align: bottom;
  margin-bottom: 3px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#table-actions > button {
  font-size: x-small;
  padding: 6px 10px;
  height: min-content;
  border-radius: 10px;
  border: 1.5px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--main-background);
}

#table-actions > .img {
  height: 1.5em;
  width: 1.5em;
  border-radius: 4px;
  padding: 2px;
  background-color: var(--main-background);
}

svg {
  width: 100%;
  height: 100%;
}


.name {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  color: var(--text-color)
}

#table-container {
  max-height: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 15px;
  position: relative;
  background-color: var(--main-background);
  box-sizing: border-box;
}

#table-content-container {
  overflow: auto;
  max-height: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 1px;
}

table {
  width: 100%;
  height: 100%;
  min-height: fit-content;
  box-sizing: border-box;
  padding: 1px;
  border-collapse: collapse;
  text-align: left;
  table-layout: auto;
  position: relative;
  border: 1px solid var(--border-color);
  border-top: none;
}

th, td {
  max-width: 100%;
  padding: 7px;
  font-size: small;
}

tr:not(thead > tr):not(:first-child) {
  border-top: 1px solid var(--border-color);
}

thead {
  z-index: 1;
}


tr > th {
  padding: 2px 10px;
  text-align: left;
  position: sticky;
  top: -1px;
  z-index: 2;
  border: none;
  background-color: var(--table-header);
}

.outline-top-bottom {
  position: relative;
  box-sizing: border-box;
}

.outline-top-bottom::before,
.outline-top-bottom::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0.5px;
  background-color: var(--border-color);
}

.outline-top-bottom::before {
  top: 0;
}

.outline-top-bottom::after {
  bottom: 0;
}


.header-content, .option {
  display: flex;
  align-items: center;
}

.header-content {
  gap: 5px;
  color: var(--text-color);
}

.option .img {
  height: 1.5em;
  width: 1.5em;
}

.header-content .img {
  height: 2.2em;
  padding: 3px 0;
}

.table-text {
  color: var(--text-color);
}

.option div {
  margin-left: 12px;
}

.filter label {
  margin-right: 8px;
}

.filter {
  margin: 10px;
}

.option {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid black;
}

.filter-sort-popup {
  position: fixed;
  z-index: 3;


}

.popup-content {
  border: 1px solid black;
  font-size: small;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 5px 5px 10px #0b0908af;
}

.selected {
  background-color: #6e6052;
}

.slider-filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkbox-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkbox-option {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 7px;
}

.checkbox-container {
  max-height: 20vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1px;
}



.custom-checkbox {
  position: relative;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #6e6052;
  border: 0.5px solid #dbd1d174;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
}

.custom-checkbox:checked {
  background-color: #3a3128; /* Change the selection color */
  border: 0.5px solid #dbd1d174;
}

.custom-checkbox:checked::before {
  content: '\2714'; /* Unicode character for check mark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #DBD1D1; /* Color of the check mark */
}

.textfield {
  text-align: left;
  font-size: 15px;
  background-color: #3d352e;
  border: none;
  border-radius: 4px;
  margin-right: 0;
  padding-right: 0;
}

.dropdown-filter > label {
  margin-right: 10px;
}

#leer-fehlermeldung {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
