<div class="dropdown-container" (clickOutside)="dropdownOpen = false" [ngStyle]="{backgroundColor: themeColors[theme]['default-color']}">

  <!-- Die Ausgewählte Option -->
  <div class="selected-option" (click)="toggleDropdown()" #dropdown >
    <p>{{ selectedOption }}</p>
    <img class="dropdown-icon" src="assets/icons/caret_down_thin_icon.svg" alt="Dropdown Icon">
  </div>

  <!-- Alle Optionen -->
  <div class="options-container" *ngIf="dropdownOpen" [ngClass]="{'upwards': upwards}" [ngStyle]="{backgroundColor: themeColors[theme]['options-container-color']}">
    <div *ngFor="let option of options" (click)="selectOption(option)" class="option" [ngStyle]="{'--option-after-gradient': 'linear-gradient(to right, ' + themeColors[theme].text + '00, ' + themeColors[theme].text + ', ' + themeColors[theme].text + '00)', '--hover-color': themeColors[theme]['hovered-color']}">
      <p class="option-text">{{ option }}</p>
    </div>
  </div>

</div>
