<div class="container" [ngStyle]="{'--border-color': themeColors[theme]['border-color'], '--selected-area': themeColors[theme]['selected-area'], '--non-selected-area': themeColors[theme]['non-selected-area'], '--handle': themeColors[theme]['handle'], '--text-color': themeColors[theme].text}">

  <!-- Generate slider -->
  <div class="range-slider">
    <input type="range" [min]="min" [max]="max" [step]="step" [(ngModel)]="value1" (input)="onValue1Change()" />
    <input type="range" [min]="min" [max]="max" [step]="step" [(ngModel)]="value2" (input)="onValue2Change()" />
    <div class="slider-track" [ngStyle]="{ left: trackLeft, width: trackWidth }"></div>
    <div class="background-track"></div>
  </div>

  <!-- Display current values -->
  <div class="values">
    <div class="text">{{ min }}</div>
    <div class="text">{{ value1 }} - {{ value2 }}</div>
    <div class="text">{{ max }}</div>
  </div>
</div>
