.range-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider-track {
  position: absolute;
  height: 7px;
  background: var(--selected-area);
  border: 1px solid var(--border-color);
  z-index: 1;
  pointer-events: none;
}

.background-track {
  position: absolute;

  width: 100%;
  height: 7px;

  background: var(--non-selected-area);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  pointer-events: none;
}

.values {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.text {
  color: var(--text-color)
}


/* Die vorgenegene input-Regeln in unterschiedlichen Browser überschreiben */

input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none !important;
  appearance: none !important;
  background: transparent !important;
  border: none;
  z-index: 2;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
}

input[type="range"]::-moz-range-track {
  background: transparent;
  border: none;
}

input[type="range"]::-ms-track {
  background: transparent;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--handle);
  border: 1px solid var(--border-color);
  z-index: 100;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--handle);
  border: 1px solid var(--border-color);
  z-index: 100;
}

/* in case the element is used separately from the table, it imports the font once again */
* {
  font-family: 'Gully', Verdana, Geneva, Tahoma, sans-serif;
}
