<div class="dropdown-container" (clickOutside)="dropdownOpen = false" [ngStyle]="{backgroundColor: themeColors[theme]['default-color']}">

  <!-- The selected option -->
  <div class="selected-option" (click)="toggleDropdown()" #dropdown [ngStyle]="{color: themeColors[theme].text}">
    <p>{{ selectedOption }}</p>
    <svg class="dropdown-icon" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
      <path fill="none" d="M0 0h256v256H0z"></path>
      <path fill="none" [attr.stroke]="themeColors[theme].text" stroke="#dbd1d1" stroke-linecap="round" stroke-linejoin="round" stroke-width="8" d="m208 96-80 80-80-80" class="stroke-000000"></path>
    </svg>
  </div>

  <!-- All options -->
  <div class="options-container" *ngIf="dropdownOpen" #optionsContainer [ngClass]="{'upwards': upwards}" [ngStyle]="{backgroundColor: themeColors[theme]['options-container-color'], color: themeColors[theme].text}">
    <div *ngFor="let option of options" (click)="selectOption(option)" class="option" [ngStyle]="{'--option-after-gradient': 'linear-gradient(to right, ' + themeColors[theme].text + '00, ' + themeColors[theme].text + ', ' + themeColors[theme].text + '00)', '--hover-color': themeColors[theme]['hovered-color']}">
      <p class="option-text">{{ option }}</p>
    </div>
  </div>

</div>
