@font-face {
  font-family: 'Gully';
  src: url('assets/fonts/gully/Gully-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url('assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
